*.idea/
*.vscode/
*.gradle/
*.DS_Store
*.settings/
*.classpath
*.project
*target/
*.node_modules/
*.factorypath

/Admin Site/dist/
/Admin Site/.firebase/

/App/Services-API/.Services-API.iml

/Backend/venv/
/Backend/api/backend-api.iml

/NLP/env/
/NLP/venv/