*.idea/
*.vscode/
*.gradle/
*.DS_Store
*.settings/
*.classpath
*.project
*target/
*node_modules/
*.factorypath

/Admin Site/dist/
/Admin Site/.firebase/
/Admin Site/node_modules/

/App/Services-API/.Services-API.iml

/Backend/venv/
/Backend/api/backend-api.iml

/NLP/env/
/NLP/venv/
Backend/api/target/classes/backend/controllers/app/AppController.class
Backend/api/target/classes/backend/controllers/app/AppController$ServiceResponse.class
Backend/api/target/classes/backend/controllers/app/AppController$UserResponse.class
