.deployment-manual p, .user-manual p {
    margin-top: 16px;
    margin-bottom: 16px;
}

.deployment-guide, .manual {
    align-items: flex-start;
    max-width: 85%;
    display: grid;
    grid-column-gap: 64px;
    grid-template-columns: 50% 0 50%;
}

h4, h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.web-app-deployment, .android-app-deployment, .web-app-manual, .android-app-manual {
    width: 100%;
}

.license-body {
    max-width: 75%;
}

.web-app-manual .enlargeable {
    margin-top: 64px;
    margin-bottom: 64px;
}

#micIcon{
	height: 10%;
	width: 10%;
}