.er-div{
	text-align: center;
}

.er-img{
	margin-left: 10px;
    margin-right: 10px;
	margin-bottom: 10px;
	
}

.app-map-div{
	text-align: center;
}

.app-map-img{
	margin-left: 10px;
    margin-right: 10px;
	margin-bottom: 10px;
}