.subtitle {
    font-size: 21px;
    color: #676B75;
    font-weight: 200;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.demo-video .card {
    background: var(--dark-blue);
    width: 60%;
    padding-bottom: 33.75%;
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, .33);
}

.sketches-div {
    text-align: center;
    /* width: 100%; */
    width: 100%;
    /* border: 5px solid red; */
    margin-left: auto;
    margin-right: auto;
}

.web-app-images {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 48px;
    padding: 48px;
}

.enlargeable.admin-web-app > img {
    border-radius: inherit;
    object-fit: cover;
}

.wireframe-div {
    text-align: center;
    /* width: 100%; */
    width: 100%;
    /* border: 5px solid red; */
    margin-left: auto;
    margin-right: auto;
}

.wireframe-img {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.wireframe-img-admin {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 70%;
    width: 45%;
}

.prototype-redesign-img {
    text-align: left;
    height: 65%;
    width: 40%;
}

.prototype-redesign-div {
    text-align: center;
    /* width: 100%; */
    width: 100%;
    /* border: 5px solid red; */
    margin-left: auto;
    margin-right: auto;
}