.main-technologies .logo-row {
    margin-top: 32px;
}

.main-technologies .image-container {
    margin-right: 24px;
    max-height: 72px;
    height: 100%;
}

.main-technologies .image-container img {
    object-fit: cover;
    max-height: inherit;
    mix-blend-mode: darken;
}

.main-technologies > .image-container {
    margin-top: 32px;
}

.web-app-section {
    flex-direction: column;
    max-width: 66.7%;
    width: 100%;
}

.web-app-section:not(:last-child) {
    margin-bottom: 48px;
}

.web-app-section p {
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
}

.web-app-section p:first-child {
    margin-top: 0 !important;
}

.web-app-section .image-container {
    margin-top: 24px;
    margin-bottom: 24px;
}

.ask-bob-integration h4 {
    margin-bottom: 0;
}

.ask-bob-integration h4 .code-snippet {
    font-weight: 900;
}