<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fisev2concierge" >
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FISEV2Concierge" >
        <receiver android:name=".helperClasses.AlertReceiver"/>
        <activity
            android:name=".HistoryView"
            android:label="@string/history" >
        </activity>
        <activity
            android:name=".AddReminderView"
            android:label="@string/reminders" >
        </activity>
        <activity
            android:name=".TimersView"
            android:label="@string/timers" >
        </activity>
        <activity
            android:name=".HelpView"
            android:label="@string/help" >
        </activity>
<!--        <activity-->
<!--            android:name=".Activity"-->
<!--            android:label="@string/title_activity_" >-->
<!--        </activity>-->
        <activity
            android:name=".ViewRemindersView"
            android:label="ReminderList">
        </activity>
        <activity
            android:name=".EditReminderView"
            android:label="EditReminder">
        </activity>
        <activity
            android:name=".EditAlarmView"
            android:label="EditAlarm">
        </activity>
        <activity
            android:name=".ViewAlarmsView"
            android:label="ViewAlarm">
        </activity>
        <activity
            android:name=".AddAlarmView"
            android:label="AddAlarm">
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>