<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fisev2concierge" >
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FISEV2Concierge" >
        <receiver android:name=".helperClasses.AlertReceiver"/>
        <activity
            android:name=".UI.RegisterActivity"
            android:label="Register" >
        </activity>
        <activity
            android:name=".UI.HistoryActivity"
            android:label="@string/history" >
        </activity>
        <activity
            android:name=".UI.AddReminderActivity"
            android:label="@string/reminders" >
        </activity>
        <activity
            android:name=".UI.TimersActivity"
            android:label="@string/timers" >
        </activity>
        <activity
            android:name=".UI.InstructionActivity"
            android:label="@string/help" >
        </activity>
<!--        <activity-->
<!--            android:name=".Activity"-->
<!--            android:label="@string/title_activity_" >-->
<!--        </activity>-->
        <activity
            android:name=".UI.ViewRemindersActivity"
            android:label="ReminderList">
        </activity>
        <activity
            android:name=".UI.EditReminderActivity"
            android:label="EditReminder">
        </activity>
        <activity
            android:name=".UI.EditAlarmActivity"
            android:label="EditAlarm">
        </activity>
        <activity
            android:name=".UI.ViewAlarmsActivity"
            android:label="ViewAlarm">
        </activity>
        <activity
            android:name=".UI.AddAlarmActivity"
            android:label="AddAlarm">
        </activity>
        <activity
            android:name=".UI.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>